<html><head>
    </head><body>{% load staticfiles %}
    <style>
#price_col {
	width:30px;
}

#removebutton {
	width:60px;
}

#added_desc {
	width:280px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

#order_table {
	width:380px;
	table-layout:fixed;
}

</style>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" ></script>
    <script>
    var fileId = 0; 
    var orders = [];
    
    // Turn JSON into string
    function stripJsonToString (json)
    {
	return JSON.stringify(json).replace(',', ', ').replace('[', '').replace(']', '');
    }
    
    // When the users clicks checkout button
    function checkout () {
	var method = "post"; 
	
	// get string from json
	var json_string = stripJsonToString(orders);
    
	// create form
	var form = document.createElement("form");
	form.setAttribute("method", method);
	form.setAttribute("action", 'checkout');
    
	// Create hidden field with the json string 
	var hiddenField = document.createElement("input");
	hiddenField.setAttribute("type", "hidden");
	hiddenField.setAttribute("name", "json_string");
	hiddenField.setAttribute("value", json_string);
	form.appendChild(hiddenField);
	
	// and add csrf token (cross-site reference forgery)
	form.innerHTML += "{% csrf_token %}";
	
	// add it to document, and submit!
	document.body.appendChild(form);
	form.submit();
    }
    
    // remove an element from both the document and the json structure
    function removeElement(elementId) {
	// Removes an element from the document
	var element = document.getElementById(elementId);
	element.parentNode.removeChild(element);
	// now delete from json
	$.each(orders, function(i, item) {
	    if (item.id == elementId){
		orders.splice(i,1);
	    }
	});
    }
    
    // get the burger price
    function getPrice(foodtype, moreinfo, size) {
	switch (foodtype) {
	    case 'Cheeseburger':
		switch (moreinfo) {
		    case 'Single': return {{ cheeseburger_1 }}
		    case 'Double': return {{ cheeseburger_2 }}
		    case 'Triple': return {{ cheeseburger_3 }}
		    case 'Quadruple': return {{ cheeseburger_4 }}
		}
		break;
	    case 'Hamburger':
		switch (moreinfo) {
		    case 'Single': return {{ hamburger_1 }}
		    case 'Double': return {{ hamburger_2 }}
		    case 'Triple': return {{ hamburger_3 }}
		    case 'Quadruple': return {{ hamburger_4 }}
		}
		break;
	    case 'Fries':
		return {{ fries }}
		break;
	    case 'Shake':
		return {{ shake }}
		break;
	    case 'Drink':
		if (size == 'Small') {
		    return {{ drink_small }}
		} else {
		    return {{ drink_large }}		
		}
		break;
	}    
    
    }
    
    // add a file to the document and to the json structure
    function addFile() {
	
	fileId++; // increment fileId to get a unique ID for the new element
	var idString = 'order-'+fileId; //i.e. order-2, order-3
	
	//create a new json object to add
	var JSONObject = {};
	JSONObject.id = idString;
	
	//get selected components to construct html
	var htmlContent = "<table id='order_table' ><tr>";
	var kindOfMeal = document.getElementById('FoodType').value;
	var price = 0;
	var size = ""; //only for drinks
	
	// get the sub-type
	var type;
	switch (kindOfMeal) {
	    case 'Cheeseburger':
	    case 'Hamburger' :
		type = document.getElementById('BurgerType').value;
		break;
	    case 'Shake':
		type = document.getElementById('ShakeType').value;
		break;
	    case 'Drink':
		type = document.getElementById('DrinkType').value;
		size = document.getElementById('DrinkSize').value;
		break;
	}
	// Generate 'removeElement' javascript call to match current elementID
	var tellToDelete = "removeElement('"+idString+"');"; 
	
	// Add to HTML string
	if (type) {
	    htmlContent += "<td><b>"+kindOfMeal+", " + type + "</b></td>";
	} else {
	    htmlContent += "<td><b>"+kindOfMeal+"</b></td>";
	}
	htmlContent+= "<td id='price_col'>"+getPrice(kindOfMeal,type, size)+"</td><td id='removebutton';><input type='button' value='remove' src='{% static 'x.png' %}' onclick="+tellToDelete+"></td></tr>";
	
	// look for animal style info, if applicable
	if (kindOfMeal=="Cheeseburger" || kindOfMeal == "Hamburger" || kindOfMeal == "Fries"
	    && document.getElementById('AnimalStyle').value == "yes") {
	    htmlContent+= "<tr><td id='added_desc'>Animal Style</td><td id='price_col'>{{ animal }}</td></tr>"
	    price += {{animal}}
	}
	
	// if drink, show size
	if (kindOfMeal=="Drink") {
	    htmlContent+= "<tr><td id='added_desc'>"+size+"</td></tr>"
	    JSONObject.size = size;
	}
	
	// Add instructions 
	htmlContent+= "<tr><td id='added_desc'><i>"+ document.getElementById('instructionsText').value +"</i></td></tr>"	
	
	// Then construct JSON object
	JSONObject.food = kindOfMeal;
	JSONObject.type = type;
	JSONObject.animal = document.getElementById('AnimalStyle').value
	JSONObject.price = price + getPrice(kindOfMeal,type)
	JSONObject.desc = document.getElementById('instructionsText').value;
	
	// finish up...
	htmlContent+="</table>"
	// and add it!
	addElement('orders', 'p', idString, htmlContent);
	orders.push(JSONObject);
	console.log(orders);
    }
    
    // Actually adds element to the page, and then resets other menus
    function addElement(parentId, elementTag, elementId, html) {
    
	// Adds an element to the document
	var parent = document.getElementById(parentId);
	var newElement = document.createElement(elementTag);
	// set the ID
	newElement.setAttribute('id', elementId);
	newElement.innerHTML = html;
	// and append it!
	parent.appendChild(newElement);
	
	// now, hide all menus
	$("#AddInstructions").hide();
	$("#DrinkMenu").hide();
	$("#DrinkSubMenu").hide();
	$("#ShakeMenu").hide();
	$("#AnimalStyleMenu").hide();
	$("#BurgerMenu").hide();
	
	// ... and reset menu values
	document.getElementById('FoodType').value = "";
	document.getElementById('instructionsText').value = "";
	document.getElementById('DrinkType').value = "";
	document.getElementById('DrinkSize').value = "";
	document.getElementById('ShakeType').value = "";
	document.getElementById('BurgerType').value = "";
	document.getElementById('AnimalStyle').value = "";
    }
    </script>
    
    <script>
    // If user presses enter in the text box, both prevent silly default form submission and hit the submit button
    $(document).ready(function() {
      $(window).keydown(function(event){
	if(event.keyCode == 13) {
	  event.preventDefault();
	  document.getElementById('submitButton').click();
	  return false;
	}
      });
    });
    
    
    // When any of the menus change, update other accordingly
    $(document).ready(function (){
	$("#FoodType").change(function() {
	    // make sure animal style goes back to empty! (corner case)
	    document.getElementById('AnimalStyle').value = "";
	    
	    // Only show the submenus from selected components
	    if ($(this).val() == "Cheeseburger") {
		$("#AddInstructions").hide();
		$("#DrinkMenu").hide();
		$("#ShakeMenu").hide();
		$("#AnimalStyleMenu").hide();
		$("#BurgerMenu").show();
	    } else if ($(this).val() == "Hamburger") {
		$("#AddInstructions").hide();
		$("#DrinkMenu").hide();
		$("#DrinkSubMenu").hide();
		$("#ShakeMenu").hide();
		$("#AnimalStyleMenu").hide();
		$("#BurgerMenu").show();
	    } else if ($(this).val() == "Fries") {
		$("#AddInstructions").hide();
		$("#BurgerMenu").hide();
		$("#DrinkMenu").hide();
		$("#ShakeMenu").hide();
		$("#BurgerSubMenu").hide();
		$("#AnimalStyleMenu").show();
	    } else if ($(this).val() == "Drink") {
		$("#AddInstructions").hide();
		$("#BurgerMenu").hide();
		$("#ShakeMenu").hide();
		$("#AnimalStyleMenu").hide();
		$("#DrinkSubMenu").hide();
		$("#DrinkMenu").show();
	    } else if ($(this).val() == "Shake") {
		$("#AddInstructions").hide();
		$("#BurgerMenu").hide();
		$("#AnimalStyleMenu").hide();
		$("#DrinkMenu").hide();
		$("#DrinkSubMenu").hide();
		$("#ShakeMenu").show();
	    }
	});
	$("#BurgerMenu").change(function() {
	    $("#AnimalStyleMenu").show();
	});
	$("#AnimalStyleMenu").change(function() {
	    $("#AddInstructions").show();
	});
	$("#DrinkMenu").change(function() {
	    $("#DrinkSubMenu").show();
	});
	$("#DrinkSubMenu").change(function() {
	    $("#AddInstructions").show();
	});
	$("#ShakeMenu").change(function() {
	    $("#AddInstructions").show();
	});
    });
    </script>
    
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    
    <title>Order</title>



    
    <table border="1" style="margin-left:auto; margin-right:auto; text-align:center; " >
	<tbody><tr height="500px" style="position:absolute; left:439px; top:99px; width:362px; " >
	  <td width="600px" style="left:-387px; top:2px; position:absolute; height:473px; width:394px; " >
	    <form id="submitorder" action="order" >
	    <p style="left:2px; top:47px; " >
		What Would You Like?<br>
		<select id="FoodType" >
		    <option selected="" disabled="" ></option>
		    <option value="Cheeseburger" >Cheeseburger</option>
		    <option value="Hamburger" >Hamburger</option>
		    <option value="Fries" >French Fries</option>
		    <option value="Shake" >Shake</option>
		    <option value="Drink" >Drink</option>
		</select>
	    </p>
	
	    <p id="BurgerMenu" style="display:none; " >
		What Kind?<br>
		<select id="BurgerType" >
		    <option selected="" disabled="" ></option>
		    <option value="Single" >Single</option>
		    <option value="Double" >Double Double</option>
		    <option value="Triple" >Triple Triple</option>
		    <option value="Quadruple" >4x4</option>
		</select>
	    </p>
	    
	    <p id="AnimalStyleMenu" style="display:none; " >
		Animal Style?<br>
		<select id="AnimalStyle" >
		    <option selected="" disabled="" ></option>
		    <option value="yes" >Yup! ($2 extra)</option>
		    <option value="no" >No thanks</option>
		</select>
	    </p>
	    
	    <p id="DrinkMenu" style="display:none; " >
		What Kind?<br>
		<select id="DrinkType" >
		    <option selected="" disabled="" ></option>
		    <option value="Coke" >Coke</option>
		    <option value="Diet Coke" >Diet Coke</option>
		    <option value="7 Up" >7 Up</option>
		    <option value="Dr. Pepper" >Dr. Pepper</option>
		    <option value="Root Beer" >Root Beer</option>
		    <option value="Lemonade" >Lemonade</option>
		    <option value="Strawberry Lemonade" >Strawberry Lemonade</option>
		    <option value="Iced Tea" >Iced Tea</option>
		</select>
	    </p>
	    <p id="DrinkSubMenu" style="display:none; " >
		Size<br>
		<select id="DrinkSize" >
		    <option selected="" disabled="" ></option>
		    <option value="Small" >Small</option>
		    <option value="Large" >Large</option>
		</select>
	    </p>
	    <p id="ShakeMenu" style="display:none; " >
		Flavor?<br>
		<select id="ShakeType" >
		    <option selected="" disabled="" ></option>
		    <option value="Chocolate" >Chocolate</option>
		    <option value="Strawberry" >Strawberry</option>
		    <option value="Vanilla" >Vanilla</option>
		    <option value="Neopolitan" >Neopolitan</option>
		</select>
	    </p>
	    <p id="AddInstructions" style="display:none; " >
		Additional Instructions?<br>
		<input id="instructionsText" type="text" size="45" value="" /><br>
		<input id="submitButton" type="button" onclick="addFile()" value="Add it!" />
	    </p>
	    </form>
	  </td>
	  <td width="400px" style="left:10px; top:2px; float:inherit; position:absolute; height:468px; width:329px; " >
	    <form action="checkout" method="POST" id="checkoutForm" style="left:-25px; top:202px; " > {% csrf_token %}
		<div id="orders" align="center" >Your Order: </div>  
		<input id="checkoutButton" type="button" onclick="checkout()" value="Checkout!" />
	    </form>
	  </td>
	</tr>
    </tbody></table>


<input type="button" style="position:absolute; width:101px; left:730px; top:25px; " onclick="value" value="Logout" /></body></html>