<html>


<p>Give us your money ya bitchass</p>

<div id="orders" align="center" >Your Order: </div>  
		
		{% for index, order in orders.items %}
		    
		    <p id = {{order.id}}><table id='order_table'><tr>
		    
		    {% if order.food == "Shake" %}
		    <td><b>{%if order.type%}{{order.type}} {% endif %}{{order.food}}</b></td>
		    {%endif%}
		    {% if order.food == "Drink" %}
		    <td><b>{{order.type}} </b></td>
		    {% endif%}
		    {% if order.food == "Cheeseburger" or order.food == "Hamburger" %}
		    <td><b>{{order.food}}, {{order.type}}</b></td>
		    {% endif%}
		    {% if order.food == "French Fries" %}
		    <td><b>{{order.food}}</b></td>
		    {%endif%}
		    
		    <td id='price_col'>{{order.price}}</td><td id='removebutton';><input type='button' value='remove' onclick= "removeElement('{{order.id}}');"></td></tr>
		    
		    {% if order.animal == 'yes' %}
		    <tr><td id='added_desc'>Animal Style</td></tr>"
		    {% endif %}
		    
		    {% if order.food == 'Drink' %}
		    <tr><td id='added_desc'>{{order.size}}</td></tr>
		    {% endif %}
		    
		    {% if order.desc %}
		    <tr><td id='added_desc'><i>{{order.desc}}</i></td></tr>
		    {% endif %}
		    
		    <tr></table></p>
		    
		{% endfor %}


<form action="" method="POST">{% csrf_token %}
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_csMu8pSudNNjdOMLJUXUKp0f"
    data-amount="2000"
    data-name="Claremont Munchies"
    data-description="($20.00)"
    data-image="/128x128.png">
  </script>
</form>






</html>


