<html>
<head>
<style>
#order_container{
position:relative;
width:880px; 
margin-left:auto;
margin-right:auto;
margin-top:40px;
height:453px;
border-image:initial; 
border:1px 
groove #000000;
}
#checkout_table{
margin-left:auto;
margin-right:auto;
margin-top:30px;
}
#table_list{
	width:380px;
	table-layout:fixed;
}
#price_col {
	width:30px;
}
#orders{
margin-top:30px;
}
</style>
</head>

<body>
{% include "header.html" %}
<div id="order_container" >
<div id="orders" align="center" >Your Order: 
		
		<div id="checkout_table">
		{% for index, order in orders.items %}
		    <table id="table_list">
		    {% if order.food == "Shake" %}
		    <tr><td><b>{{order.type}} {{order.t}}</b></td>
		    {%endif%}
		    {% if order.food == "Drink" %}
		    <tr><td><b>{{order.type}} </b></td></tr>
		    {% endif%}
		    {% if order.food == "Cheeseburger" or order.food == "Hamburger" %}
		    <tr><td><b>{{order.food}}, {{order.type}}</b></td>
		    {% endif%}
		    {% if order.food == "French Fries" %}
		    <tr><td><b>{{order.food}}</b></td>
		    {%endif%}
		    
		    <td id="price_col" >{{order.price}}</td> </tr>
		    
		    {% if order.animal == 'yes' %}
		    <tr><td id="added_desc" >Animal Style</td></tr>{% endif %}
		    
		    {% if order.food == 'Drink' %}
		    <tr><td id="added_desc" >{{order.size--&gt;</td></tr>
		    {% endif %}
		    
		    {% if order.desc %}
		    <tr><td id="added_desc" ><i>{{order.desc--&gt;</i></td></tr>
		    {% endif %}
		    
		    <tr></tr></table><p></p>
		    
		{% endfor %}
		<table id="table_list">{{order_total_desc}}</table>
		</div>
</div>



<form action="" method="POST" style="position:inherit; left:201px; " >{% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_csMu8pSudNNjdOMLJUXUKp0f" data-amount="{{order_total}}" data-name="Claremont Munchies" data-description="{{order_total_desc}}" data-image="/128x128.png" >
    </script>
</form></div>
  
</body>
</html>