
	
<div style="position:absolute; top:25px; left:50px; width:651px; height:51px; " >

<form action="/order" >
<input type="submit" style="width:109px; height:49px; left:1px; top:25px; position:absolute; " value="Order" />
</form>

<form action="/checkout" >
<input type="submit" style="width:109px; height:49px; left:249px; top:26px; position:absolute; " value="Checkout" />
</form>

<form action="/logout" >
<input type="submit" style="width:109px; height:49px; left:499px; top:25px; position:absolute; " value="Logout" />
</form>

</div>