{% load staticfiles %}


<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>

<div id='header_bar'>

<form action="/order" >
<input class='header_button' type="submit" value="Order" />
</form>

<form action="/checkout" >
<input class='header_button' type="submit" value="Checkout" />
</form>

<form action="/logout" >
<input id='logout_button'class='header_button' type="submit" value="Logout" />
</form>

</div>