<html><head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<meta name="author" content="Flux User" >
		<meta name="description" content="My Website" >
		<meta name="keywords" content="Flux, Mac" >
		<title>Claremont Munchies</title>
	</head>
	<body style="left:0; top:0; " >
	
	<form name="login_register" method="POST" action=".">{% csrf_token %}
	<div style="position:absolute; top:48px; left:200px; width:248px; height:396px; border-image:initial; border:3px solid #000000; " >
	<input type="text" placeholder="User Name" value="" style="left:50px; top:71px; width:150px; position:inherit; border-image:initial; border:1px solid #000000; " name="login_name" />
	<input type="password" placeholder="Password" value="" style="left:50px; top:112px; width:150px; position:inherit; float:right; border-image:initial; border:1px solid #000000; " name="login_password" />
	<div style="position:absolute; top:40px; left:58px; width:128px; height:17px; " > &nbsp; &nbsp; &nbsp;Login Below</div>
	<div style="position:absolute; top:213px; left:73px; width:119px; height:23px; " >Register Below</div>
	<input type="text" placeholder="User Name" value="" style="left:50px; top:247px; width:150px; position:inherit; border-image:initial; border:1px solid #000000; " name="register_name" />
	<input type="password" placeholder="Password" value="" style="left:50px; top:280px; width:150px; position:inherit; float:right; border-image:initial; border:1px solid #000000; " name="register_password" />
	<input type="password" placeholder="Repeat Password" value="" style="left:50px; top:309px; width:150px; position:inherit; float:right; border-image:initial; border:1px solid #000000; " name="register_password_2" />
	<input type="submit" formaction="/login" style="left:98px; top:148px; position:absolute; width:51px; height:170px; " value="Login" />
	<input type="submit" formaction="/register" style="left:93px; top:350px; position:absolute; width:59px; height:170px; " value="Register" />
	</div>
	</form>
	
</body></html>