<html>

	{% include "header.html" %}
	
	<head>
		
		<title>Claremont Munchies</title>
	</head>
	<body style="left:0; top:0; " >
	<div id='menu' class='login_menu'>
		<div id='landing_page_warning'>{{warning}}</div>
		<form name="login" method="POST" action="." >{% csrf_token %}
				<div id='login_text'>Login</div>
				<input class='landing_page_field' type="text" placeholder="Account Name" value="" name="login_name" />
				<input class='landing_page_field' type="password" placeholder="Password" name="login_password" />
				<input id='login_button' class='landing_page_field' type="submit" formaction='/' value="Login" />
		</form>
	
		<form name="register" method="POST" action="." >{% csrf_token %}	
			<div id='register_text'>Register</div>
			<input class='landing_page_field' type="text" placeholder="User Name" value="" name="register_name" />
			<input class='landing_page_field' type="password" placeholder="Password" name="register_password" />
			<input class='landing_page_field' type="password" placeholder="Repeat Password" name="register_password_2" />
			<input id='register_button' class='landing_page_field' type="submit" formaction="/" value="Register" />
		</form>
		
	</div>
	
	
</body></html>