<html><head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>
var fileId = 0; 

function removeElement(elementId) {
    // Removes an element from the document
    var element = document.getElementById(elementId);
    element.parentNode.removeChild(element);
}
function addFile() {
    

    fileId++; // increment fileId to get a unique ID for the new element
    
    //get selected components to construct html
    var htmlContent = "<table border='1'><tr><td>";
    var kindOfMeal = document.getElementById('FoodType').value;
    
    switch (kindOfMeal) {
	case 'Cheeseburger':
	    htmlContent += "Cheeseburger, " + document.getElementById('BurgerType').value;
	    if (document.getElementById('AnimalStyle').value == "yes") htmlContent += ", Animal Style"
	    break;
	case 'Hamburger':
	    htmlContent += "Hamburger, " + document.getElementById('BurgerType').value;
	    if (document.getElementById('AnimalStyle').value == "yes") htmlContent += ", Animal Style"
	    break;
	case 'Fries':
	    htmlContent += "Fries, " + document.getElementById('FriesType').value;
	    break;
	case 'Shake':
	    htmlContent += document.getElementById('ShakeType').value + " Shake";
	    break;
	case 'Drink':
	    htmlContent += document.getElementById('DrinkType').value;
	    break;
    }
    // Generate 'removeElement' javascript call to match current elementID
    var tellToDelete = "removeElement('order-"+fileId+"');"; 
    htmlContent+= "</td><td rowspan='2'>" + "<input type='button' value='remove' onclick="+tellToDelete+">";
    htmlContent+= "</td></tr><tr><td>"
    
    // If they added instructions, add the text as second line
    if (document.getElementById('instructionsText').value != "") htmlContent+= "("+ document.getElementById('instructionsText').value +")"
    
    // finish up...
    htmlContent+="</td></tr></table>"
    // and add it!
    addElement('orders', 'p', 'order-' + fileId, htmlContent);
}

function addElement(parentId, elementTag, elementId, html) {

    // Adds an element to the document
    var parent = document.getElementById(parentId);
    var newElement = document.createElement(elementTag);
    // set the ID
    newElement.setAttribute('id', elementId);
    newElement.innerHTML = html;
    // and append it!
    parent.appendChild(newElement);
    
    // now, hide all menus
    $("#AddInstructions").hide();
    $("#FriesMenu").hide();
    $("#DrinkMenu").hide();
    $("#DrinkSubMenu").hide();
    $("#ShakeMenu").hide();
    $("#BurgerSubMenu").hide();
    $("#BurgerMenu").hide();
    
    // ... and reset menu values
    document.getElementById('FoodType').value = "";
    document.getElementById('instructionsText').value = "";
    document.getElementById('FriesType').value = "";
    document.getElementById('DrinkType').value = "";
    document.getElementById('DrinkSize').value = "";
    document.getElementById('ShakeType').value = "";
    document.getElementById('BurgerType').value = "";
    document.getElementById('AnimalStyle').value = "";
}
</script>

<script>
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      document.getElementById('submitButton').click();
      return false;
    }
  });
});

$(document).ready(function (){
    $("#FoodType").change(function() {
	// Only show the submenus from selected components
	if ($(this).val() == "Cheeseburger") {
	    $("#AddInstructions").hide();
	    $("#FriesMenu").hide();
	    $("#DrinkMenu").hide();
	    $("#ShakeMenu").hide();
	    $("#BurgerSubMenu").hide();
	    $("#BurgerMenu").show();
	} else if ($(this).val() == "Hamburger") {
	    $("#AddInstructions").hide();
	    $("#FriesMenu").hide();
	    $("#DrinkMenu").hide();
	    $("#DrinkSubMenu").hide();
	    $("#ShakeMenu").hide();
	    $("#BurgerSubMenu").hide();
	    $("#BurgerMenu").show();
	} else if ($(this).val() == "Fries") {
	    $("#AddInstructions").hide();
	    $("#BurgerMenu").hide();
	    $("#DrinkMenu").hide();
	    $("#DrinkSubMenu").hide();
	    $("#ShakeMenu").hide();
	    $("#BurgerSubMenu").hide();
	    $("#FriesMenu").show();
	} else if ($(this).val() == "Drink") {
	    $("#AddInstructions").hide();
	    $("#FriesMenu").hide();
	    $("#BurgerMenu").hide();
	    $("#ShakeMenu").hide();
	    $("#BurgerSubMenu").hide();
	    $("#DrinkSubMenu").hide();
	    $("#DrinkMenu").show();
	} else if ($(this).val() == "Shake") {
	    $("#AddInstructions").hide();
	    $("#FriesMenu").hide();
	    $("#BurgerMenu").hide();
	    $("#BurgerSubMenu").hide();
	    $("#DrinkMenu").hide();
	    $("#DrinkSubMenu").hide();
	    $("#ShakeMenu").show();
	}
    });
    $("#BurgerMenu").change(function() {
	$("#BurgerSubMenu").show();
    });
    $("#BurgerSubMenu").change(function() {
	$("#AddInstructions").show();
    });
    $("#DrinkMenu").change(function() {
	$("#DrinkSubMenu").show();
    });
    $("#DrinkSubMenu").change(function() {
	$("#AddInstructions").show();
    });
    $("#FriesMenu").change(function() {
	$("#AddInstructions").show();
    });
    $("#ShakeMenu").change(function() {
	$("#AddInstructions").show();
    });
});
</script>


<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<title>In n Out Order Form</title>
</head>

<br>

<body >

</head>

<body>


<table border="1" style="margin-left:auto; margin-right:auto;text-align: center;">
    <tr height="500px">
      <td width="600px">
	<form id="submitorder" action="order">
	<p>
	    What Would You Like?<br>
	    <select id="FoodType" >
		<option selected disabled></option>
		<option value="Cheeseburger">Cheeseburger</option>
		<option value="Hamburger">Hamburger</option>
		<option value="Fries">French Fries</option>
		<option value="Shake">Shake</option>
		<option value="Drink">Drink</option>
	    </select>
	</p>
    
	<p id="BurgerMenu" style="display:none;">
	    What Kind?<br>
	    <select id="BurgerType">
		<option selected disabled></option>
		<option value="Single">Single</option>
		<option value="Double">Double Double</option>
		<option value="Triple">Triple Triple</option>
		<option value="Quadruple">4x4</option>
	    </select>
	</p>
	
	<p id="BurgerSubMenu" style="display:none">
	    Animal Style?<br>
	    <select id="AnimalStyle">
		<option selected disabled></option>
		<option value="yes">Yup! ($2 extra)</option>
		<option value="no">No thanks</option>
	    </select>
	</p>
	
	<p id="FriesMenu" style="display:none;">
	    How Would You Like Them?<br>
	    <select id= "FriesType">
		<option selected disabled></option>
		<option value="Regular">Regular</option>
		<option value="ExtraCrispy">Extra Crispy</option>
		<option value="AnimalStyle">Animal Style</option>
	    </select>
	</p>
	
	<p id="DrinkMenu" style="display:none;">
	    What Kind?<br>
	    <select id="DrinkType">
		<option selected disabled></option>
		<option value="Coke">Coke</option>
		<option value="Diet Coke">Diet Coke</option>
		<option value="7 Up">7 Up</option>
		<option value="Dr. Pepper">Dr. Pepper</option>
		<option value="Root Beer">Root Beer</option>
		<option value="Lemonade">Lemonade</option>
		<option value="Strawberry Lemonade">Strawberry Lemonade</option>
		<option value="Iced Tea">Iced Tea</option>
	    </select>
	</p>
	<p id="DrinkSubMenu" style="display:none">
	    Size<br>
	    <select id="DrinkSize">
		<option selected disabled></option>
		<option value="small">Small</option>
		<option value="large">Large</option>
	    </select>
	</p>
	<p id="ShakeMenu" style="display:none">
	    Flavor?<br>
	    <select id="ShakeType">
		<option selected disabled></option>
		<option value="Chocolate">Chocolate</option>
		<option value="Strawberry">Strawberry</option>
		<option value="Vanilla">Vanilla</option>
		<option value="Neopolitan">Neopolitan</option>
	    </select>
	</p>
	<p id="AddInstructions" style="display:none;">
	    Additional Instructions?<br>
	    <input id="instructionsText" type="text" size="45" value=""><br>
	    <input id="submitButton" type="button" onclick="addFile()" value="Add it!" >
	</p>
	</form>
      </td>
      <td width="400px">
	<div id="orders">Your Order: </div>      
      </td>
    </tr>
    </table>
</body>


</body>
</html>