/* gets rid of blue box on click */
input:focus, textarea:focus {
    outline: none;
}

/* HEADER BAR */
.header_button{
    height:35;
    text-decoration: none;
    margin-right:30px;
    position:relative; /*make it fixed! causes some format issues though */
    float:right;
    margin-top:40;
    font-family:Molengo;
    font-size:20px;
    color:white;
    background:none;
    border:none;
}

.header_button:hover {
    text-decoration:underline;
}

#header_bar{
    position:relative; 
    height:60;
    background-color: #EB353D;
    height: 117px;
}


/* LANDING PAGE */

.landing_page_field{
    width:25%;
    height:30px;
    margin-right:50%;
    margin-left:37.5%;
    border-radius:10px;
    padding-left: 7px;
    margin-top:1%;
    font-size:14;
    background-color: white; 
    color:black;
    border:none;
    border: 1px solid;
    border-color: #9C9C9C;
}

/* to keep first, last name on one line */
.landing_page_field#name {
    margin-left: 0;
    margin-right: 0;
    width: 12%;
}

#register_form{
    display: block;
}

#toggle_to_register{
    background: transparent;
    border: none !important;
}

#toggle_to_login{
    background: transparent;
    border: none !important;
}

#toggle_to_register:hover{
    text-decoration: underline;
    /*box-shadow: 5px 5px 2px #888888;*/
}
#toggle_to_login:hover{
    text-decoration: underline;
    /*box-shadow: 5px 5px 2px #888888;*/
}


#landing_page_warning{
    font-size:15;
    color:#FD1C25;

}

#register_text{
    margin-top: 10px;
    margin-bottom:10px;
    font-size:30;
    background-color:#f6f6f6;
    width:25%;
    height:30px;
    margin-right:50%;
    margin-left:37.5%;
    border-radius:10px;
    text-align:center;
}
#login_text{
    margin-top:10px;
    margin-bottom:1%;
    font-size:30;
    background-color:#f6f6f6;
    width:25%;
    height:30px;
    margin-right:50%;
    margin-left:37.5%;
    border-radius:10px;
    text-align:center;
}
#login_button{
    background-color: #EB353D; 
    border:none;
    color:white;
    text-align: center;
}
#register_button{
    background-color: #EB353D; 
    color:white;
    border:none;
    text-align: center;
}

#login_button:hover{
    
    box-shadow: 1px 1px 4px #888888;
}
#register_button:hover{
    
    box-shadow: 1px 1px 4px #888888;
}

#login_form{
    margin-top:13%; 
}
#register_form {
    margin-top:6%; 
    display:none;
}

#landing_page_box{
    border-color:#FD1C25;
}


/* ORDER FORM */
#price_col {
	width:30px;
	text-align:right;
}

#order_name {
    width:300px;
}

#submitButton {
    background: transparent;
    font-size: 23px;
    font-family: 'Molengo', Georgia, Times, serif;
    margin-top: 15px;
    border: none;
}

#submitButton:hover{
    text-decoration: underline;
}

#removebutton {
	background:url('images/x.png');
	background-size:25px 25px;
	width:25px;
	height:25px;
	border-radius:5px;
	border:none;
	
}
#removebutton:hover {
	background:url('images/x_alt.png');
	background-size:25px 25px;
	width:25px;
	height:25px;
	background-color:#FD1C25;
	border-radius:5px;
}

body {
    background-color:#f6f6f6;
    margin:0px;
    padding:0px;
}

#menu {
    margin-bottom:65px;
    min-height:400px;
    height:auto;
    text-align: center;
}

#added_desc {
	max-width:280px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.order_table {
	width:380px;
	border-spacing:10px 0px;
	margin-top:20px;
	font-family: 'Cardo', Georgia, Times, serif;
	font-size: 18px;
}

#checkoutbutton {
    width:55px;
    height:50px;
	background:url('images/eat.png'); 
	background-size:55px 50px;
	border:none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#checkoutbutton:hover {
    width:55px;
    height:50px;
	background:url('images/eat_alt.png'); 
	background-size:55px 50px;
	border:none;
}

#order_title {
    /*padding-bottom:15px;*/
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 30px;
}
.select_button {
    width:250px;
    height:30px;
    font-family: 'Cardo', Georgia, Times, serif;
    font-size: 18px;
}
.menu_q {
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 20px;
}
.menu_q_big  {
    font-size: 35px;
    font-family: 'Molengo', Georgia, Times, serif;
}
#order_container{
    position:relative;
    width:880px; 
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    height:453px;
    border:1px 
    groove #000000;
}

#empty_warning {
    font-family: 'Cardo', Georgia, Times, serif;
}

/* CHECKOUT PAGE */

#checkout_table{
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}
#table_list{
    width:380px;
    table-layout:fixed;
    font-family: 'Cardo', Georgia, Times, serif;
	font-size: 18px;
}
#price_col {
    width:30px;
}
#orders {
    margin-top:30px;
}
#orders.checkout{
    margin-top:70px;
    font-family: 'Cardo', Georgia, Times, serif;
    font-size: 18px;
    width: 498;
    border: 1px solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    border-radius: 30;
    background:white;
}

.checkout_menu {
    margin-top: 43px;
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
}

#pay_button {
    display: block;
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    background: #1275f;
    background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    visibility: visible!important;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    border: none;


    margin-top: 25px;
    margin-bottom: 25px;
}

.login_menu {
    margin-top: 43px;
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    position: fixed;
    bottom:0;
    background-color: #EB353D;
    text-align: center;
    padding-top: 9px;
    height: 26px;
    font-family:Molengo;
    font-size:14px;
    color: white;
    width:100%;
}
#footer a{
    color:white;
}

#title {
    font-family:Molengo;
    font-size:18px;
    color: white;
    float: left;
    position: relative;
    font-family: Molengo;
    font-size: 44px;
    color: white;
    float: left;
    position: relative;
    top: 24%;
    margin-left: 10px;
    text-shadow: 2px 2px 3px #000000;
}
#subtitle {
    top: 70%;
    color: white;
    font-family: Molengo;
    font-size: 18px;
    margin-left: -86px;
    float: left;
    position: absolute;
    padding-right:270px;
}
#logo {
    width: 17%;
    top: 3%;
    position: relative;
    float: left;
}
#col1{
    border-right: 2px solid;
    border-color: #CECECE;
    width: 560px;
}
#col2 {
    padding-left: 65px;
    width:400px;
}
#instructionsText {
    border-radius: 4px;
    border: 1px solid;
    border-color: #B8B8B8;
    height: 21px;
    width: 250px;
    margin-top: 3px;
}

.login_menu {
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 30px;
}

#alert {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:16px;
    padding:10px 10px 10px 36px;
    margin:10px;
    background:#fff8c4 url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
#alert span {
    font-weight:bold;
    text-transform:uppercase;
}

#tip_box {
    height: 32;
    font-size: 17;
    width: 128;
    margin-left: 60;
    border-radius: 5;
    border: 1px solid;
    border-color: #9C9C9C;
    text-align: right;
    padding-right: 4px;
}

.checkout_location {
    font-size: 25;
    width:200;
}

.checkout_location_input {
    font-size: 15;
    width:200;
    border-radius: 5;
    border: 1px solid;
    border-color: #9C9C9C;
    padding: 2px 0px 2px 5px;
}

/* THANK YOU PAGE */
.thanks {
    text-align: center;
    margin-top: 15%;
    font-size: 23;
    font-family: 'Molengo', Georgia, Times, serif;
}
.thanks #small{
    font-size:18px;
}
.thanks #small a {
    text-decoration: none;
}
.thanks #small a:hover {
    text-decoration: underline;
}
.thanks a {
    color:black;
}

/* DRIVERS PAGE */
.drivers_table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-family: 'Cardo', Georgia, Times, serif;
    border-collapse: collapse;
    margin-bottom: 10%;
    height:auto;
    font-size:12px;
}

.drivers_table .center {
    text-align:center;
}

.drivers_table #update_button {
    text-align:center; 
    padding-bottom:15px;"
}

.drivers_table #update_button input {
    width:150px;
    font-size: 20px;
}

.drivers_table .spaced{
    padding-left: 15px;
}

tr.border_top td {
  border-top:1pt solid black;
}
