<html>
	<head>
		{% include "header.html" %}
		<title>About Us</title>
		
	</head>
	<body>

		<span class="aboutus_header"> About Us </span>
		<div class="aboutus_body"> &nbsp&nbsp&nbsp Claremont Munchies is an entirely student-run organization delivering your favorite late night goods. We are simple people &mdash; when we're hungry, we like some good munchies.<br><br>&nbsp&nbsp&nbsp We also think that other people, both on our campus and around the world, would like some good munchies too. So, 25% of our profits are given to <a target="_blank" href="http://www.thp.org/">The Hunger Project</a>, an organization working to alleviate the pains of world hunger. So, get a burger, give a burger. Cheers.
			<br><br>
			Let us know what you think! <a target="_blank" href="https://www.surveymonkey.com/s/BMVHTQZ">Take our survey</a>, it only takes a minute.
		</div>

		{% include "footer.html" %}
	</body>
</html>