<html>
{% include "header.html" %}

{% load staticfiles %}
<head>
<title> Checkout </title>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
// When user selects "new location"
$(document).ready(function (){

	$("#select_location").change(function() {
	    // Only show the submenus from selected components
	    if ($(this).val() == "default") {
			$("#DelivLocation").hide();
			$("#PomonaDormType").hide();
			$("#CMCDormType").hide();
			$("#PitzerDormType").hide();
			$("#MuddDormType").hide();
			$("#ScrippsDormType").hide();
			$("#OffCampusType").hide();
		} else if ($(this).val() == "change") {
			$("#DelivLocation").show();
		}
	});
	$("#DelivLocation").change(function() {
	    // Only show the submenus from selected components
	    if ($(this).val() == "Pomona") {
			$("#PomonaDormType").show();
			$("#CMCDormType").hide();
			$("#PitzerDormType").hide();
			$("#MuddDormType").hide();
			$("#ScrippsDormType").hide();
			$("#OffCampusType").hide();
		} else if ($(this).val() == "Claremont McKenna") {
			$("#PomonaDormType").hide();
			$("#CMCDormType").show();
			$("#PitzerDormType").hide();
			$("#MuddDormType").hide();
			$("#ScrippsDormType").hide();
			$("#OffCampusType").hide();
		} else if ($(this).val() == "Scripps") {
			$("#PomonaDormType").hide();
			$("#CMCDormType").hide();
			$("#PitzerDormType").hide();
			$("#MuddDormType").hide();
			$("#ScrippsDormType").show();
			$("#OffCampusType").hide();
		} else if ($(this).val() == "Pitzer") {
			$("#PomonaDormType").hide();
			$("#CMCDormType").hide();
			$("#PitzerDormType").show();
			$("#MuddDormType").hide();
			$("#ScrippsDormType").hide();
			$("#OffCampusType").hide();
		} else if ($(this).val() == "Harvey Mudd") {
			$("#PomonaDormType").hide();
			$("#CMCDormType").hide();
			$("#PitzerDormType").hide();
			$("#MuddDormType").show();
			$("#ScrippsDormType").hide();
			$("#OffCampusType").hide();
		} else if ($(this).val() == "Off Campus") {
			$("#PomonaDormType").hide();
			$("#CMCDormType").hide();
			$("#PitzerDormType").hide();
			$("#MuddDormType").hide();
			$("#ScrippsDormType").hide();
			$("#OffCampusType").show();
		}
	});
});
</script>


</head>

<body>


<div id="menu" class="checkout_menu" >
	<!--<span id="trial" style="margin-left:0px"> Hours: Thu 10-12:30, Fri/Sat 10-1<br></span>-->
<div id="orders" class="checkout" align="center" ><div id="order_title">Your Order: </div>
		
		<div id="checkout_table">
			<table id="table_list">
				{% for index, order in orders.items %}
				    {% if order.food == "Shake" %}
				    <td><b>{{order.type}} {{order.food}}</b></td>
				    {%endif%}
				    {% if order.food == "Drink" %}
				    <td><b>{{order.type}} </b></td>
				    {% endif%}
				    {% if order.food == "Cheeseburger" or order.food == "Hamburger" %}
				    <td><b>{{order.food}}, {{order.type}}</b></td>
				    {% endif%}
				    {% if order.food == "French Fries" or order.food == "Grilled Cheese" or order.food == "Munchie Meal" %}
				    <td><b>{{order.food}}</b></td>
				    {%endif%}
				    
				    {% if order.food == "Burrito" %}
				    <td><b>{{order.type}} {{order.food}}</b></td>
				    {%endif%}
				    
				    {% if order.food == "Taco" %}
				    	<td ><b>
				    	{% if order.type == "Tacquitos" %}
				    		3 Tacquitos
				    	{% else %}
				    		{{order.type}} {{order.food}}
				    	{% endif %}
				    	</b></td>
				    {%endif%}
				    {% if order.food == "Quesadilla" %}
				    <td ><b>{{order.type}} {{order.food}}</b></td>
				    {%endif%}
				    
				    <td></td>
				    <td id="price_col" class="right_side">${{order.price}}</td> </tr>
				    
				    {% if order.animal == 'yes' %}
				    <tr><td id="added_desc" >*Animal</td></tr>{% endif %}
				    
				    {% if order.desc %}
				    <tr><td id="added_desc" ><i>{{order.desc}}</i></td></tr>
				    {% endif %}
				    
				    <tr></tr><p></p>
				{% endfor %}
				<tr><td><p></p></td></tr>
			    <tr>
			    	<td >Tax (CA 8%):</td>
			    	<td></td>
			    	<td class="right_side">${{tax_amount}}</td>
			    </tr>
			    <tr>
			    	<td >Delivery Fee:</td>
			    	<td> </td>
			    	<td class="right_side">${{fee_amount}}</td>
			    </tr>
			<tr>
		    	<td><b>*Got a promo code?</b></td>
					<td>
						<form style="margin-bottom: 0em;" id="promoform" action="" method="post">
							 <input type="text" id="promocode" name="promocode">
						</form>
					</td>
					<td>
						<div id="promocodeCheck"></div>
					</td>
				</tr>
		    <tr>
		    	<td >Suggested Tip:</td>
		    	<td><input type="text" id="tip_box" onKeyUp="tipChanged()" placeholder="{{ tip_suggestion }}"></td>
		    </tr>
		</table>

		<!-- Show order total -->
	    <span id="order_total_orig" style="display:none;">{{order_total}}</span>
		<table id="table_list"><b>total: $<span id="order_total">{{order_total}}</b></span></table>

		<!-- Get Delivery Location -->
		<form action="process" id="pay" method="post">{% csrf_token %}

			<input type="hidden" name="orders" value="{{orders}}"/>

			<br>deliver to:<br>
			<select id="select_location" class="checkout_location" name="delivery_location">
			    <option selected value="default" >{{location}}</option>
			    <option value="change" > New Delivery Location</option>
			</select>
			<br>
			<!-- Get Delivery Location (if not default) -->
			<select class="checkout_location" style="display:none;" id="DelivLocation" name="register_location">
			    <option value="default" selected="" disabled="" >Which School?</option>
			    <option value="Pomona" >Pomona</option>
			    <option value="Claremont McKenna" >Claremont McKenna</option>
			    <option value="Pitzer" >Pitzer</option>
			    <option value="Scripps" >Scripps</option>
			    <option value="Harvey Mudd" >Harvey Mudd</option>
			    <option value="Off Campus" >Off-Campus (Claremont Only)</option>
			</select><br>
			<!-- If Pomona -->
			<select class="checkout_location" style="display:none;" id="PomonaDormType" name="register_location_dorm">
			    <option value="default" selected="" disabled="" >Which Dorm?</option>
			    <option value="Blaisdell" >Blaisdell</option>
			    <option value="Clark I" >Clark I</option>
			    <option value="Clark III" >Clark III</option>
			    <option value="Clark V" >Clark V</option>
			    <option value="Gibson" >Gibson</option>
			    <option value="Harwood" >Harwood</option>
			    <option value="Lawry" >Lawry</option>
			    <option value="Lyon" >Lyon</option>
			    <option value="Mudd" >Mudd</option>
			    <option value="Norton" >Norton</option>
			    <option value="Oldenborg" >Oldenborg</option>
			    <option value="Pomona Hall" >Pomona Hall</option>
			    <option value="Smiley" >Smiley</option>
			    <option value="Sontag Hall" >Sontag Hall</option>
			    <option value="Walker" >Walker</option>
			    <option value="Wig" >Wig</option>
			</select>
			<!-- If Pitzer -->
			<select class="checkout_location" style="display:none;" id="PitzerDormType" name="register_location_dorm">
			    <option value="default" selected="" disabled="" >Which Dorm?</option>
			    <option value="Atherton" >Atherton</option>
			    <option value="East" >East</option>
			    <option value="Mead" >Mead</option>
			    <option value="Pitzer Hall" >Pitzer Hall</option>
			    <option value="Sanborn" >Sanborn</option>
			    <option value="West" >West</option>
			</select>
			<!-- If CMC -->
			<select class="checkout_location" style="display:none;" id="CMCDormType" name="register_location_dorm">
			    <option value="default" selected="" disabled="" >Which Dorm?</option>
			    <option value="Appleby" >Appleby</option>
			    <option value="Auen" >Auen</option>
			    <option value="Beckett" >Beckett</option>
			    <option value="Benson" >Benson</option>
			    <option value="Berger" >Berger</option>
			    <option value="Boswell" >Boswell</option>
			    <option value="Claremont" >Claremont</option>
			    <option value="Fawcett" >Fawcett</option>
			    <option value="Green" >Green</option>
			    <option value="Marks" >Marks</option>
			    <option value="Phillips" >Phillips</option>
			    <option value="Senior Apartments" >Senior Apartments</option>
			    <option value="Stark" >Stark</option>
			    <option value="Wohlford" >Wohlford</option>
			</select>
			<!-- If Scripps -->
			<select class="checkout_location" style="display:none;" id="ScrippsDormType" name="register_location_dorm">
			    <option value="default" selected="" disabled="" >Which Dorm?</option>
			    <option value="Browning" >Browning</option>
			    <option value="Dorsey" >Dorsey</option>
			    <option value="Frankel" >Frankel</option>
			    <option value="Kimberly and Wilbur" >Kimberly and Wilbur</option>
			    <option value="Routt Apartments" >Routt Apartments</option>
			    <option value="Routt Hall" >Routt Hall</option>
			    <option value="Toll" >Toll</option>
			    <option value="Winkler" >Winkler</option>
			    
			</select>
			<!-- If Harvey Mudd -->
			<select class="checkout_location" style="display:none;" id="MuddDormType" name="register_location_dorm">
			    <option value="default" selected="" disabled="" >Which Dorm?</option>
			    <option value="Atwood" >Atwood</option>
			    <option value="Case" >Case</option>
			    <option value="East" >East</option>
			    <option value="Linde" >Linde</option>
			    <option value="North" >North</option>
			    <option value="Sontag" >Sontag</option>
			    <option value="South" >South</option>
			    <option value="West" >West</option>
			</select>
			<!-- If Off Campus -->
			<span id="OffCampusType" style="display:none;">
			<input class="checkout_location_input" type="text" placeholder="Your Address" name="register_location_other" /><br>
			<span style="font-size: 13px; width: 259px; display: inline-table; margin-top: 8;" id="address_warning"><i>Note: We do not deliver outside of Claremont. If you place an order with an invalid address, we cannot deliver it and will be unable to give a refund. Sorry!</i></span>
			</span>
		
			<!-- Pay Button (details in footer script) -->
			<span id="terms_and_privacy"> By ordering below, I acknowledge I am bound by the <a href="JavaScript:newPopup('/terms');">terms of service</a> and <a href="JavaScript:newPopup('/privacy');">privacy policy</a> of ClaremontMunchies.</span>
			<input type="button" id="pay_button" value="Pay With Card"></input>
		</form>

	</div>
		
</div>


</div>
{% include "footer.html" %}
  
</body>
<script>
	var total = {{ order_total }};
	var dealEntered = false;
	var dealAmount = 0;
	function tipChanged() {
		var orig = Number(document.getElementById("order_total_orig").innerHTML);
		var tip = document.getElementById('tip_box').value;
		if (tip == "") {
			tip = 0;
		} else {
			tip = parseFloat(tip);
		}
		var reg = /^\d*\.?\d*$/;
		if (reg.test(tip))
			{
				document.getElementById("order_total").innerHTML = (orig + tip).toFixed(2);
				total = orig + tip;
			}
	}

	/*
	 * Handle AJAX for Promo code entry
	 */
	$(document).ready(function(){
		var usernameCheck = $('#promocodeCheck');
		$('#promocode').on('keyup', function(){
			var promocode = $('#promocode').val();
			if (promocode.length >= 3) {
				$.ajax({
					type: 'POST',
					url: 'ajax',
					cache: 'false',
					data: {
						csrfmiddlewaretoken: '{{csrf_token}}',
						promocode: promocode
						}, // form data
					beforeSend: function() {
						// show loading image
						usernameCheck.attr('class', 'usernameLoading');
					},
					success: function(d) {
						//console.log(d);
						if (d == 'invalid') {
							// show fail image
							usernameCheck.attr('class', 'usernameFail');
						} else {
							// show ok image
							usernameCheck.attr('class', 'usernamePassed');
							if (!dealEntered) {
								total = total * (100 - d)/100;
								dealAmount = d
								document.getElementById("order_total").innerHTML = (total).toFixed(2);
								// update "orig" order total
								document.getElementById("order_total_orig").innerHTML = (total).toFixed(2);
								dealEntered = true; 
							} else {
								console.log("cannot use more than one deal!")
							}
						}
					}
				});
			};
		});
	});
	// and disable form submit on enter
	$(window).keydown(function(event){
		if(event.keyCode == 13) {
		  event.preventDefault();
		  return false;
		}
     });

	// Turn JSON into string
    function stripJsonToString (json)
    {
		return JSON.stringify(json).replace(',', ', ').replace('[', '').replace(']', '');
    }

    // configure the stripe checkout, send token to  server
	var handler = StripeCheckout.configure({
		key: 'pk_live_PSXmALcL03hCZ1AJ8KlohmZV', // live
		//key: 'pk_test_PPM2Mljl9kJRjpFOUKqHBrBg', //test
		image: "{% static 'images/burger.jpg' %}",
		token: function(token, args) {
			var $form = $('#pay');
			// add stripe token, and order total
			$form.append($('<input type="hidden" name="stripeToken" />').val(stripJsonToString(token)));
			$form.append($('<input type="hidden" name="dealAmount" />').val(Math.round(dealAmount)));
			$form.append($('<input type="hidden" name="total_amount" />').val(Math.round(total*100)));
			$form.append($('<input type="hidden" name="tip_amount" />').val(Math.round(document.getElementById('tip_box').value*100)));
			// Submit, and disable "pay" button so user doesn't pay >1 times
			$form.get(0).submit();
			document.getElementById('pay_button').disabled = true;
		}
	});

  document.getElementById('pay_button').addEventListener('click', function(e) {
  	var ignoreTime = false;

  	var canOpen = true;


  	// if it's closed for some reason (i.e. spring break)
  	var isClosed = false;
  	if (isClosed) {
  		alert("Sorry! We're closed for spring break. Check back in starting Thursday, March 27th!");
  		canOpen = false;
  	}

  	// first check that it's the right time of day (7pm-1am)
  	var date = new Date;
  	if (canOpen && (
  		// if it's after 1am and before 9:45pm
  		(date.getHours() > 0 && /*date.getHours() < 22) */ (date.getHours() < 21 || (date.getHours() == 21 && date.getMinutes() < 45)))
  		// or Monday, Tuesday, or Wednesday
  		|| (date.getDay() >= 1 && date.getDay() <= 3) 
  		// or Sunday after 1am
  		|| (date.getHours() > 1 && date.getDay() == 0)
  		// or Thursday before 9:30pm
  		|| ( (date.getHours() < 21 || (date.getHours() == 21 && date.getMinutes() < 45)) /*(date.getHours()<22*/ && date.getDay() == 4)
  		// or Friday after 12:30am
  		|| (date.getHours() < 1 && date.getMinutes() > 30 && date.getDay() == 5) ) && !ignoreTime) 
  	{
  		alert("Sorry! We're not currently accepting orders.\nOur hours are:\n\n\tThursday \t10pm - 12:30am\n\tFriday \t10pm - 1am\n\tSaturday \t10pm - 1am");
  		canOpen = false;
  	}

  	if (canOpen) {
		// then check that order is over $5
		if (total < 5) {
			alert("Sorry, the delivery minimum is $5");
			canOpen = false;
		}
	}

  	// Check that delivery input is valid, if it's not default  	
  	if (document.getElementById('select_location').value != 'default') {
	  	//Now check that locations are filled out
		var location = document.getElementById('DelivLocation').value;
		if (location == "default") {
			alert("Please select a school for delivery")
			canOpen = false
		}
		if (canOpen) {
			// check that some dorm has been filled out
			var location_dorms = document.getElementsByName('register_location_dorm');
			var isEmpty = true;
			for (var index = 0; index < location_dorms.length; ++index) {
				if (location_dorms[index].value != "default") {
					isEmpty = false;
				}
			}
		}

		if (canOpen) {
			// check that either dorm+location are filled out, or off campus + address
			if (location == "Off Campus" && document.getElementsByName('register_location_other')[0].value == "") {
				alert("Please give an address for delivery");
				canOpen =  false;
			}
			if (location != "Off Campus" && isEmpty) {
				alert("Please choose a dorm for delivery");
				canOpen =  false;
			}
		}
	}

	// if input is valid
	if (canOpen) {
	    // Open Checkout with further options
	    handler.open({
	      name: 'Claremont Munchies',
	      description: 'bringing In-N-Out to your door',
	      amount: total*100
	    });
	    e.preventDefault();
	}
  });
</script>
<script type="text/javascript">
      // Popup window code
      function newPopup(url) {
        popupWindow = window.open(
          url,'popUpWindow','height=500,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
      }
</script>
</html>