{% load staticfiles %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46523816-1', 'claremontmunchies.com');
  ga('send', 'pageview');

</script>

<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>

<!-- HTML element tags -->
<link rel="image_src" href="http://URL-TO-YOUR-IMAGE" / ><!--formatted-->
<meta name="description" content="Claremont Munchies is an entirely student-run organization delivering your favorite late-night goods while donating 25% of our profits to charitable causes." /><!--formatted-->



<div id='header_bar'>
<a href="/"><img id="logo" src="{% static 'images/LOGO.png' %}"></a>
<!--<span id="title"> Claremont Munchies </span>-->
<span id="title"><a href="aboutus">Get a burger, give a burger.</a></span>
<span id="subtitle">Hours: Thu 10-12:30, Fri/Sat 10-1</span>

<a id="logout_button" class='header_button' href="logout"/>Logout</a>

<a id="aboutus_button" class='header_button' href="aboutus"/>About Us</a>

<a id="checkout_button" class='header_button' href="checkout"/>Checkout</a> 

<a id="order_button" class='header_button' href="order"/>Order</a>

</div>