<html>
	<head>
		<!-- Include the needed js files--> 
		{% load staticfiles %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
		<link rel="stylesheet" type="text/css" href="{% static 'tooltipster.css' %}" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.0.min.js"></script>
		<script type="text/javascript" src="{% static 'js/jquery.tooltipster.min.js' %}"></script>
		<script>
		        $(document).ready(function() {
		            $('.tooltip').tooltipster({
		            	trigger: 'click'
		            });
		        });
		    </script>
		<script type="text/javascript">
			function toggle(hide_id, show_id) {
				document.getElementById(hide_id).style.display = 'none';
				document.getElementById(show_id).style.display = 'block';
			}
			// make sure phone is valid 10 digit number (replace spaces)
			function validatePhone()
			{
				var x = document.forms["register_form"]['register_phone'].value;
				x = x.split(" ").join("");
				var reg = /^\d+$/;
				if (reg.test(x) && x.length == 10)
				  {
				  return true;
				  }
				 alert("Please enter a valid 10 digit phone number \n(no parentheses or dashes, please!)");
				 return false
			}

			// When any of the menus change, update other accordingly
		    $(document).ready(function (){
				$("#DelivLocation").change(function() {
				    // Only show the submenus from selected components
				    if ($(this).val() == "Pomona") {
						$("#PomonaDormType").show();
						$("#CMCDormType").hide();
						$("#PitzerDormType").hide();
						$("#MuddDormType").hide();
						$("#ScrippsDormType").hide();
						$("#OffCampusType").hide();
					} else if ($(this).val() == "Claremont Mckenna") {
						$("#PomonaDormType").hide();
						$("#CMCDormType").show();
						$("#PitzerDormType").hide();
						$("#MuddDormType").hide();
						$("#ScrippsDormType").hide();
						$("#OffCampusType").hide();
					} else if ($(this).val() == "Scripps") {
						$("#PomonaDormType").hide();
						$("#CMCDormType").hide();
						$("#PitzerDormType").hide();
						$("#MuddDormType").hide();
						$("#ScrippsDormType").show();
						$("#OffCampusType").hide();
					} else if ($(this).val() == "Pitzer") {
						$("#PomonaDormType").hide();
						$("#CMCDormType").hide();
						$("#PitzerDormType").show();
						$("#MuddDormType").hide();
						$("#ScrippsDormType").hide();
						$("#OffCampusType").hide();
					} else if ($(this).val() == "Harvey Mudd") {
						$("#PomonaDormType").hide();
						$("#CMCDormType").hide();
						$("#PitzerDormType").hide();
						$("#MuddDormType").show();
						$("#ScrippsDormType").hide();
						$("#OffCampusType").hide();
					} else if ($(this).val() == "Off Campus") {
						$("#PomonaDormType").hide();
						$("#CMCDormType").hide();
						$("#PitzerDormType").hide();
						$("#MuddDormType").hide();
						$("#ScrippsDormType").hide();
						$("#OffCampusType").show();
					}
				});
			});

		</script>

		{% include "header.html" %}
		
		<title>Claremont Munchies</title>
		<link href='http://fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>
    	<link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
    
	</head>
	<body>
	<div id='menu' class='login_menu'>
		<!--<div id="preregister" style ="font-size:20px; margin-top:10%;"> <i>We're getting ready to launch first thing next semester. <br> Be one of the first 50 to register and get off 20% off your first order!</i> </div>-->

		<form id='login_form' name="login" method="POST" action="." >{% csrf_token %}
				<div id='landing_page_warning'>{{warning}}</div>
				<div id='login_text'>Login</div>
				<input class='landing_page_field' type="text" placeholder="Account Name" value="" name="login_name" />
				<input class='landing_page_field' type="password" placeholder="Password" name="login_password" />
				<input id='login_button' class='landing_page_field' type="submit" formaction='/' value="Login" />
				<input id='toggle_to_register' class='landing_page_field' type="button" value="Need to Register?" onclick="toggle('login_form', 'register_form');" />
		</form>
	
		<form id='register_form' name="register" method="POST" action="." onsubmit="return validatePhone();">{% csrf_token %}	
			<div id='landing_page_warning'>{{warning}}</div>
			<div id='register_text'>Register</div>

			<input class='landing_page_field' id="name" type="text" placeholder="First Name" value="" name="register_fname" required>
			<input class='landing_page_field' id="name" type="text" placeholder="Last Name" value="" name="register_lname" required>
			<input class='landing_page_field' type="text" placeholder="User Name" value="" name="register_name" required>
			<input class='landing_page_field' type="password" placeholder="Password" name="register_password" required>
			<input class='landing_page_field' type="password" placeholder="Repeat Password" name="register_password_2" required>
			<input class='landing_page_field' type="tel" placeholder="Phone Number" name="register_phone" required>
			<div class="tooltip" title="We'll text you when your order is on the way, and when we're at your dorm!" style="font-size: 13px; margin-left: 135px; text-decoration: underline;" onmouseover="this.style.cursor='pointer'"> 
   				 why do we need this?
			</div>


			<!-- Get Delivery Location -->
			<select class="landing_page_field" id="DelivLocation" name="register_location">
			    <option selected="" disabled="" >Delivery Location</option>
			    <option value="Pomona" >Pomona</option>
			    <option value="Claremont Mckenna" >Claremont Mckenna</option>
			    <option value="Pitzer" >Pitzer</option>
			    <option value="Scripps" >Scripps</option>
			    <option value="Harvey Mudd" >Harvey Mudd</option>
			    <option value="Off Campus" >Off-Campus (Claremont Only)</option>
			</select>
			<!-- If Pomona -->
			<select class="landing_page_field" style="display:none;" id="PomonaDormType" name="register_location_dorm">
			    <option selected="" disabled="" >Which Dorm?</option>
			    <option value="Blaisdell" >Blaisdell</option>
			    <option value="Clark I" >Clark I</option>
			    <option value="Clark III" >Clark III</option>
			    <option value="Clark V" >Clark V</option>
			    <option value="Gibson" >Gibson</option>
			    <option value="Harwood" >Harwood</option>
			    <option value="Lawry" >Lawry</option>
			    <option value="Lyon" >Lyon</option>
			    <option value="Mudd" >Mudd</option>
			    <option value="Norton" >Norton</option>
			    <option value="Oldenborg" >Oldenborg</option>
			    <option value="Pomona Hall" >Pomona Hall</option>
			    <option value="Smiley" >Smiley</option>
			    <option value="Sontag Hall" >Sontag Hall</option>
			    <option value="Walker" >Walker</option>
			    <option value="Wig" >Wig</option>
			</select>
			<!-- If Pitzer -->
			<select class="landing_page_field" style="display:none;" id="PitzerDormType" name="register_location_dorm">
			    <option selected="" disabled="" >Which Dorm?</option>
			    <option value="Atherton" >Atherton</option>
			    <option value="East" >East</option>
			    <option value="Mead" >Mead</option>
			    <option value="Pitzer Hall" >Pitzer Hall</option>
			    <option value="Sanborn" >Sanborn</option>
			    <option value="West" >West</option>
			</select>
			<!-- If CMC -->
			<select class="landing_page_field" style="display:none;" id="CMCDormType" name="register_location_dorm">
			    <option selected="" disabled="" >Which Dorm?</option>
			    <option value="Appleby" >Appleby</option>
			    <option value="Auen" >Auen</option>
			    <option value="Beckett" >Beckett</option>
			    <option value="cmc_benson" >Benson</option>
			    <option value="Benson" >Berger</option>
			    <option value="Boswell" >Boswell</option>
			    <option value="Claremont" >Claremont</option>
			    <option value="Fawcett" >Fawcett</option>
			    <option value="Green" >Green</option>
			    <option value="Marks" >Marks</option>
			    <option value="Phillips" >Phillips</option>
			    <option value="Senior Apartments" >Senior Apartments</option>
			    <option value="Stark" >Stark</option>
			    <option value="Wohlford" >Wohlford</option>
			</select>
			<!-- If Scripps -->
			<select class="landing_page_field" style="display:none;" id="ScrippsDormType" name="register_location_dorm">
			    <option selected="" disabled="" >Which Dorm?</option>
			    <option value="Browning" >Browning</option>
			    <option value="Dorsey" >Dorsey</option>
			    <option value="Frankel" >Frankel</option>
			    <option value="Kimberly and Wilbur" >Kimberly and Wilbur</option>
			    <option value="Routt Apartments" >Routt Apartments</option>
			    <option value="Routt Hall" >Routt Hall</option>
			    <option value="Toll" >Toll</option>
			    <option value="Winkler" >Winkler</option>
			    
			</select>
			<!-- If Harvey Mudd -->
			<select class="landing_page_field" style="display:none;" id="MuddDormType" name="register_location_dorm">
			    <option selected="" disabled="" >Which Dorm?</option>
			    <option value="Atwood" >Atwood</option>
			    <option value="Case" >Case</option>
			    <option value="East" >East</option>
			    <option value="Linde" >Linde</option>
			    <option value="North" >North</option>
			    <option value="Sontag" >Sontag</option>
			    <option value="South" >South</option>
			    <option value="West" >West</option>
			</select>
			<!-- If Off Campus -->
			<span id="OffCampusType" style="display:none;">
			<input class='landing_page_field' type="text" placeholder="Your Address" name="register_address" />
			<span style="font-size: 13px; width: 259px; display: inline-table; margin-top: 8;" id="address_warning"><i>Note: We do not deliver outside of Claremont. If you place an order, we cannot deliver it and will be unable to give a refund. Sorry!</i></span>
			</span>

			<input id='register_button' class='landing_page_field' type="submit" formaction="/" value="Register" />
			<input id='toggle_to_login' class='landing_page_field'type="button" value="Already Registered?" onclick="toggle('register_form', 'login_form');" />
		</form>
		
	</div>
	
	{% include "footer.html" %}
<script>
$(document).ready(function() {
    $('.tooltip').tooltipster();
});
</script>
</body>
</html>