<html>

<head>
    
    {% include "header.html" %}
    <style>
    #order_button{
	/*background-image:linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);*/
    }
    </style>
    
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Cardo:400,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script>
    var fileId = Math.round(Math.random()*100000000); 
    var orders = [];
    
    // Turn JSON into string
    function stripJsonToString (json)
    {
	return JSON.stringify(json).replace(',', ', ').replace('[', '').replace(']', '');
    }
    
    // remove an element from both the document and the json structure
    function removeElement(elementId) {
	// Removes an element from the document
	var element = document.getElementById(elementId);
	element.parentNode.removeChild(element);
	
	updateTotal();
	
	// delete from server!
	$.post("order",
	{csrfmiddlewaretoken: '{{ csrf_token }}', 'delete':elementId},
	function(data, textStatus, jqXHR)
	{
	      //console.log(data);
	});
    }
    
    function updateTotal() {
	subtotal = document.getElementById('subtotal');	
    
    }
    
    // get the burger price
    function getPrice(foodtype, moreinfo, animal) {
	var price = 0;
	switch (foodtype) {
	    case 'Cheeseburger':
			switch (moreinfo) {
			    case 'Single Single': price += {{ cheeseburger_1 }}; break;
			    case 'Double Double': price += {{ cheeseburger_2 }}; break;
			    case 'Triple Triple': price += {{ cheeseburger_3 }}; break;
			    case '4x4': price += {{ cheeseburger_4 }}; break;
			}
			/*if (animal == 'yes') {
			    return price+{{animal}};
			}*/
			return price;
			break;
	    case 'Hamburger':
			switch (moreinfo) {
			    case 'Single Single': price += {{ hamburger_1 }}; break;
			    case 'Double Double': price += {{ hamburger_2 }}; break;
			    case 'Triple Triple': price += {{ hamburger_3 }}; break;
			    case '4x4': price += {{ hamburger_4 }}; break;
			}
			/*if (animal == 'yes') {
			    return price+{{animal}};
			}*/
			return price;
			break;
	    case 'French Fries':
			if (animal == 'yes') {
				return {{animal_fries}};
			}
			return {{fries}}
			break;
		case 'Shake':
			return {{ shake }};
			break;
	    case 'Drink':
	    	return {{ drink }};		
			break;
	}    
    
    }
    
    // Send the new order to the server
    function postOrder(object) {
	
	$.post("order",
	{csrfmiddlewaretoken: '{{ csrf_token }}', 'object':stripJsonToString(object)},
	function(data, textStatus, jqXHR)
	{
	      //console.log(data);
	});
    
    }
    
    // add a file to the document and to the json structure
    function addFile() {
	
		fileId = Math.round(Math.random()*100000000); // change fileId to get a unique ID for the new element
		var idString = 'order-'+fileId; //i.e. order-2, order-3
		
		//create a new json object to add
		var JSONObject = {};
		JSONObject.id = idString;
		
		//// get the sub-type
		var kindOfMeal = document.getElementById('FoodType').value;
		var type;
		switch (kindOfMeal) {
		    case 'Cheeseburger':
		    case 'Hamburger' :
			type = document.getElementById('BurgerType').value;
			break;
		    case 'Shake':
			type = document.getElementById('ShakeType').value;
			break;
		    case 'Drink':
			type = document.getElementById('DrinkType').value;
			//size = document.getElementById('DrinkSize').value;
			break;
		}
		
		//get selected components to construct html
		var htmlContent = "<table class='order_table' ><tr>";
		var animal = document.getElementById('AnimalStyle').value;
		var price = getPrice(kindOfMeal,type, animal);
		
		// Generate 'removeElement' javascript call to match current elementID
		var tellToDelete = "removeElement('"+idString+"');"; 
		
		// Add to HTML string
		if (kindOfMeal == "Cheeseburger" || kindOfMeal=="Hamburger") {
		    htmlContent += "<td id='order_name'><b>"+kindOfMeal+", " + type + "</b></td>";
		} else if (kindOfMeal == "Shake") {
		    htmlContent += "<td id='order_name'><b>"+type+" "+kindOfMeal+"</b></td>";	
	    	} else if (kindOfMeal == "Drink") {
		    htmlContent += "<td id='order_name'><b>"+type+"</b></td>";	
		} else {
		    htmlContent += "<td id='order_name'><b>"+kindOfMeal+"</b></td>";
		}
		htmlContent+= "<td id='price_col'>$"+price+"</td><td ><input id='removebutton' type='submit' value='' onclick="+tellToDelete+"></td></tr>";
		
		// look for animal style info, if applicable
		if (animal == "yes") {
		    htmlContent+= "<tr><td id='added_desc'>&nbsp;&nbsp;&nbsp;Animal Style</td></tr>"
		}
		
		// if drink, show size
		/*if (kindOfMeal=="Drink") {
		    htmlContent+= "<tr><td id='added_desc'>&nbsp;&nbsp;&nbsp;"+size+"</td></tr>"
		    JSONObject.size = size;
		}*/
		
		// Add instructions 
		if (document.getElementById('instructionsText').value != "") {	
		    htmlContent+= "<tr><td id='added_desc'>&nbsp;&nbsp;&nbsp;<i>"+ document.getElementById('instructionsText').value +"</i></td></tr>";
		}
		
		// Then construct JSON object
		JSONObject.food = kindOfMeal;
		JSONObject.type = type;
		JSONObject.animal = document.getElementById('AnimalStyle').value;
		JSONObject.price = price;
		JSONObject.desc = document.getElementById('instructionsText').value;
		
		// finish up...
		htmlContent+="</table>"
		// and add it!
		addElement('orders', 'p', idString, htmlContent);

		$('#empty_warning').hide()
		
		//do a POST here to move session 
		postOrder(JSONObject);
    }
    
    // Actually adds element to the page, and then resets other menus
    function addElement(parentId, elementTag, elementId, html) {
    
	// Adds an element to the document
	var parent = document.getElementById(parentId);
	var newElement = document.createElement(elementTag);
	// set the ID
	newElement.setAttribute('id', elementId);
	newElement.innerHTML = html;
	// and append it!
	parent.appendChild(newElement);
	
	updateTotal()
	
	// now, hide all menus
	$("#AddInstructions").hide();
	$("#DrinkMenu").hide();
	$("#DrinkSubMenu").hide();
	$("#ShakeMenu").hide();
	$("#AnimalStyleMenu").hide();
	$("#BurgerMenu").hide();
	
	// ... and reset menu values
	document.getElementById('FoodType').value = "";
	document.getElementById('instructionsText').value = "";
	document.getElementById('DrinkType').value = "";
	//document.getElementById('DrinkSize').value = "";
	document.getElementById('ShakeType').value = "";
	document.getElementById('BurgerType').value = "";
	document.getElementById('AnimalStyle').value = "";
    }
    </script>
    
    <script>
    // If user presses enter in the text box, both prevent silly default form submission and hit the submit button
    $(document).ready(function() {
      $(window).keydown(function(event){
	if(event.keyCode == 13) {
	  event.preventDefault();
	  // only submit if the information box is showing!
	  if ($("#AddInstructions").is(':visible')) {
	    document.getElementById('submitButton').click();
	  }
	  return false;
	}
      });
    });
    
    
    // When any of the menus change, update other accordingly
    $(document).ready(function (){
	$("#FoodType").change(function() {
	    // make sure animal style goes back to empty! (corner case)
	    document.getElementById('AnimalStyle').value = "";
	    
	    // Only show the submenus from selected components
	    if ($(this).val() == "Cheeseburger") {
		$("#AddInstructions").hide();
		$("#DrinkMenu").hide();
		$("#ShakeMenu").hide();
		$("#AnimalStyleMenu").hide();
		$("#BurgerMenu").show();
	    } else if ($(this).val() == "Hamburger") {
		$("#AddInstructions").hide();
		$("#DrinkMenu").hide();
		$("#ShakeMenu").hide();
		$("#AnimalStyleMenu").hide();
		$("#BurgerMenu").show();
	    } else if ($(this).val() == "French Fries") {
		$("#AddInstructions").hide();
		$("#BurgerMenu").hide();
		$("#DrinkMenu").hide();
		$("#ShakeMenu").hide();
		$("#BurgerSubMenu").hide();
		$("#AnimalStyleMenu").show();
	    } else if ($(this).val() == "Drink") {
		$("#AddInstructions").hide();
		$("#BurgerMenu").hide();
		$("#ShakeMenu").hide();
		$("#AnimalStyleMenu").hide();
		$("#DrinkMenu").show();
	    } else if ($(this).val() == "Shake") {
		$("#AddInstructions").hide();
		$("#BurgerMenu").hide();
		$("#AnimalStyleMenu").hide();
		$("#DrinkMenu").hide();
		$("#ShakeMenu").show();
	    }
	});
	$("#BurgerMenu").change(function() {
	    $("#AnimalStyleMenu").show();
	});
	$("#AnimalStyleMenu").change(function() {
	    $("#AddInstructions").show();
	});
	$("#DrinkMenu").change(function() {
	    $("#AddInstructions").show();
	});
	$("#ShakeMenu").change(function() {
	    $("#AddInstructions").show();
	});
    });
    </script>
    
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    
    <title>Order</title>

    {% load staticfiles %}

    <div id='logo'></div>
    <table id="menu" style="margin-left:auto; margin-right:auto; margin-top:25px; text-align:center; " >
    <div id="spacing">&nbsp;</div>
	
	<tr >
	  <td id="col1">
	    <form id="submitorder" action="order" >
	    <p style="left:2px; top:47px; " >
		<span class="menu_q_big">what would you like?</span><br>
		<select class="select_button" id="FoodType" >
		    <option selected="" disabled="" ></option>
		    <option value="Cheeseburger" >Cheeseburger</option>
		    <option value="Hamburger" >Hamburger</option>
		    <option value="French Fries" >French Fries</option>
		    <option value="Shake" >Shake</option>
		    <option value="Drink" >Drink</option>
		</select>
	    </p>
	
	    <p id="BurgerMenu" style="display:none; " >
		<span class="menu_q">what kind?</span><br>
		<select class="select_button" id="BurgerType" >
		    <option selected="" disabled="" ></option>
		    <option value="Single Single" >Single Single</option>
		    <option value="Double Double" >Double Double</option>
		    <option value="Triple Triple" >Triple Triple</option>
		    <option value="4x4" >4x4</option>
		</select>
	    </p>
	    
	    <p id="AnimalStyleMenu" style="display:none; " >
		<span class="menu_q">animal style?</span><br>
		<select class="select_button" id="AnimalStyle" >
		    <option selected="" disabled="" ></option>
		    <option value="yes" >Yup!</option>
		    <option value="no" >No thanks</option>
		</select>
	    </p>
	    
	    <p id="DrinkMenu" style="display:none; " >
		<span class="menu_q">what kind?</span><br>
		<select class="select_button" id="DrinkType" >
		    <option selected="" disabled="" ></option>
		    <option value="Coke" >Coke</option>
		    <option value="Diet Coke" >Diet Coke</option>
		    <option value="Sprite" >Sprite</option>
		</select>
	    </p>
	    <!-- <p id="DrinkSubMenu" style="display:none; " >
		<span class="menu_q">size</span><br>
		<select class="select_button" id="DrinkSize" >
		    <option selected="" disabled="" ></option>
		    <option value="Small" >Small</option>
		    <option value="Large" >Large</option>
		</select>
	    </p> -->
	    <p id="ShakeMenu" style="display:none; " >
		<span class="menu_q">flavor?</span><br>
		<select class="select_button" id="ShakeType" >
		    <option selected="" disabled="" ></option>
		    <option value="Chocolate" >Chocolate</option>
		    <option value="Strawberry" >Strawberry</option>
		    <option value="Vanilla" >Vanilla</option>
		    <option value="Neopolitan" >Neopolitan</option>
		</select>
	    </p>
	    <p id="AddInstructions" style="display:none; " >
		<span class="menu_q">special instructions?</span><br>
		<input id="instructionsText" type="text" placeholder="nope!" size="45" value="" /><br>
		<input id="submitButton" type="button" onclick="addFile()" value="Add it!" />
	    </p>
	    </form>
	  </td>
	  <td id="col2" >
		<div id="orders" align="center" ><div id="order_title">your order: </div>


		
		{% for index, order in orders.items %}
		
		    <table id = {{order.id}} class='order_table'><tr>
		    
		    {% if order.food == "Shake" %}
		    <td id='order_name'><b>{%if order.type%}{{order.type}} {% endif %}{{order.food}}</b></td>
		    {%endif%}
		    {% if order.food == "Drink" %}
		    <td id='order_name'><b>{{order.type}} </b></td>
		    {% endif%}
		    {% if order.food == "Cheeseburger" or order.food == "Hamburger" %}
		    <td id='order_name'><b>{{order.food}}, {{order.type}}</b></td>
		    {% endif%}
		    {% if order.food == "French Fries" %}
		    <td id='order_name'><b>{{order.food}}</b></td>
		    {%endif%}
		    
		    <td id='price_col'>${{order.price}}</td><td><input id='removebutton' type='submit' value='' onclick= "removeElement('{{order.id}}');"></td></tr>
		    
		    {% if order.animal == 'yes' %}
		    <tr><td id='added_desc'>&nbsp;&nbsp;&nbsp;Animal Style</td></tr>
		    {% endif %}
		    
		    <!--
		    {% if order.food == 'Drink' %}
		    <tr><td id='added_desc'>&nbsp;&nbsp;&nbsp;{{order.size}}</td></tr>
		    {% endif %} -->
		    
		    {% if order.desc %}
		    <tr><td id='added_desc'><i>&nbsp;&nbsp;&nbsp;{{order.desc}}</i></td></tr>
		    {% endif %}
		    
		    <tr></table>

		{% empty %}
    	<span id="empty_warning"><br><i>You haven't ordered anything yet!</i><br><br></span>
		    
		{% endfor %}
		</div> 
		<!--<div id="alert" style="display:none;"><span>Whoops!</span><br>We're not live yet... too bad, that looks tasty. <br> Check back in January 21st to order In-N-Out!</div>-->
		<!-- <p id="subtotal"><{{ subtotal }}</p> RIGHT NOW, DON'T SHOW SUBTOTAL ON ORDER PAGE -->
		<!-- TO DISABLE CHECKOUT <a id="checkoutButton" onclick="document.getElementById('alert').style.display = 'block';"></a> -->
		<a id="checkoutButton" href="checkout" /></a> 
		
	  </td>
	</tr>
    </table>
    {% include "footer.html" %}
    

</body>
</html>

