<html>
	<head>
		{% include "header.html" %}
		<title>Thanks!</title>
		
	</head>
	<body>

		<div class="thanks"> Thanks for your order! <br> You should receive a confirmation text from us shortly (if not, <a href="mailto:claremontmunchies@gmail.com">let us know!</a>)<br>Keep your order number for reference: <b>#{{ order_num }}</b><br><br> <a target="_blank" href="https://www.surveymonkey.com/s/Q9KTYQD">We'd love your feedback!</a><br><span id="small">(<a href="order">Forgot to get something?</a>)</span><br>
		
		</div>

		{% include "footer.html" %}
	</body>
</html>