.landing_page_field{
    width:25%;
    height:30px;
    margin-right:50%;
    margin-left:35%;
    border-radius:10px;
    text-align:center;
    margin-top:1%;
    font-size:20;
    background-color:00FFFF;
}

#landing_page_warning{

    background-color:white;

}

#register_text{
    margin-top:5%;
    font-size:30;
    background-color:white;
}
#login_text{
    margin-top:0;
    font-size:30;
    background-color:white;
}
#login_button{
    background-color:red;
    color:white;
}
#register_button{
    background-color:red;
    color:white;
}
#login_button:hover{
    background-color:blue;
    box-shadow: 5px 5px 2px #888888;
}
#register_button:hover{
    background-color:blue;
    box-shadow: 5px 5px 2px #888888;
}


.header_button{
    height:25;
    width:150;
    margin-left:5%;
    position:relative;
    float:left;
    margin-top:40;
    background-color:red;
    border-radius:50;
    font-family:Molengo;
    font-size:inherit;
    color:white;
}

.header_button:hover {
    background-color:blue;
    box-shadow: 5px 5px 2px #888888;
}

#header_bar{
position:relative; 
height:60;

}

#logout_button{
float:right;
margin-left:0;
}

#landing_page_box{

border-color:red;

}

.landing_page_info{

}

.landing_page_field{

}

#price_col {
	width:30px;
	text-align:right;
}

#logo {
    /*left: 50%;
    position: absolute;
    margin-top: 50px;
    width:170px;
    height:120px;
    background:url('{% static "images/in-n-out-logo.jpg" %}'); 
    background-size:170px 120px;*/
    }

#order_name {
    width:300px;
}

#submitButton {
    width:70px;
    height:50px;
    background:url('images/arrow.png'); 
    background-size:70px 50px;
    margin-top:15px;
    border:none;
}

#removebutton {
	background:url('images/x.png');
	background-size:25px 25px;
	width:25px;
	height:25px;
	border-radius:5px;
	border:none;
	
}
#removebutton:hover {
	background:url('images/x_alt.png');
	background-size:25px 25px;
	width:25px;
	height:25px;
	background-color:red;
	border-radius:5px;
}

body {
    background-color:#f3f3f3;
}

#menu {
    background-color:#FFFFFF;
    border-radius:40px;
    margin-bottom:40px;
    min-height:500px;
    height:auto;
    text-align: center;
}

#added_desc {
	width:280px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.order_table {
	width:380px;
	border-spacing:10px 0px;
	margin-top:20px;
	font-family: 'Cardo', Georgia, Times, serif;
	font-size: 18px;
}

#checkoutbutton {
    width:55px;
    height:50px;
	background:url('images/eat.png'); 
	background-size:55px 50px;
	border:none;
}

#checkoutbutton:hover {
    width:55px;
    height:50px;
	background:url('images/eat_alt.png'); 
	background-size:55px 50px;
	border:none;
}

#order_title {
    padding-bottom:15px;
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 30px;
}
.select_button {
    width:250px;
    font-family: 'Cardo', Georgia, Times, serif;
    font-size: 40px;
}
.menu_q {
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 20px;
}
.menu_q_big  {
    font-size: 35px;
    font-family: 'Molengo', Georgia, Times, serif;
}
#order_container{
    position:relative;
    width:880px; 
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    height:453px;
    border:1px 
    groove #000000;
}
#checkout_table{
margin-left:auto;
margin-right:auto;
margin-top:30px;
}
#table_list{
	width:380px;
	table-layout:fixed;
}
#price_col {
	width:30px;
}
#orders{
margin-top:30px;
font-family: 'Cardo', Georgia, Times, serif;
	font-size: 18px;
}

.checkout_menu {
margin-top: 43px;
width: 1010px;
margin-left: auto;
margin-right: auto;

}

.login_menu {
margin-top: 43px;
width: 1010px;
margin-left: auto;
margin-right: auto;

}